{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
                {{ with .Date }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <div class="post-meta">
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format $configDateFormat }} </time>
                </div>
                {{ end }}
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </article>
        <!-- articoli correlati -->
        {{ $related := .Site.Pages.Related . }}
        {{ if $related }}
            <h3>Articoli Correlati</h3>
            <ul>
                {{ range $related }}
                <li><a href="{{ .Permalink }}" class="related-articles">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        <!-- commenti -->
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
